{% load static %}
{% load rest_framework %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>reset password </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="reset Form Template" name="keywords">
        <meta content="reset Form Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'reset_password.css' %}" />
    </head>
    <body>
        <div class="wrapper reset-3">
            <div class="container">
                <div class="col-left">
                    <div class="reset-text">
                        <h2><img src="{% static 'img\f.png'%}" alt="Logo"></h2>
                    </div>
                </div>
                <div class="col-right">
                    <div class="reset-form">
                        <h2>Reset Password</h2>
                        <div class="messages">
                            <ul>
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}" style=" margin-left:50px; color:red;" {% endif %}>{{message}}</li>
                                    {% endfor %}
                            </ul>
                        </div>
            
                        <form method="post" action="">
                            {% csrf_token %}
                            <p>
                                <input class="password" type="password"  placeholder="password" id="password" name="password" required>
                            </p>
                            <p>
                                <input class="password" type="Password"  placeholder="confirmpassword" id="confirmpassword" name="confirmpassword" required />
                            </p>
                            <p> 
                                <input class="btn" type="submit" value="Submit" />
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
